    <div class="footer">
      <div class="footer-container">
        <p>Pablo Urzua 1526 - Indepencia - Santiago - Teléfono: <a href="tel:56994947315">+569 9494 7315</a> - <b><a href="mailto:samuelsoto4@gmail.com">samuelsoto4@gmail.com</a></b> © Zamu Publicidad<p>
      </div>
    </div>

    <script src="/js/jquery.js"></script>

    <script src="https://unpkg.com/flickity@2.0.9/dist/flickity.pkgd.min.js"></script>

    <script src="/js/all.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
