{{ partial "head" . }}
<div class="app">
  <section class="hero">
    <div class="background-image" style="background-image: url('https://images.unsplash.com/photo-1490013616775-3ca8865fb129?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');"></div>
    <div class="inner">
    <h3 class="eyebrow">LOREM IPSUM</h3>
    <h1>Emergencias Publicitarias, impresiones de alta y mediana resolución en tiempo record</p>
    </div>
  </section>
  <section id="servicios" class="explain">
    <div class="inner">
      <div class="center">
        <h3>LOREM IPSUM</h3>
        <p>Contamos con stock de materiales permanentes, máquinas de impresión y personal altamente capacitado, contactenos.</p>
      </div>
    </div>
  </section>
  <section id="gallery" class="gallery">
    
    <div class="inner">

    <div class="row one">
      <div class="image"><img src="https://images.unsplash.com/photo-1451928803901-7357a9e01215?dpr=1&auto=format&fit=crop&w=1280&h=720&q=10&cs=tinysrgb&crop=" alt=""></div>

      <div class="image"><img src="https://images.unsplash.com/photo-1464809185700-7d3c5ed9c5b0?dpr=1&auto=formatq=10&cs=tinysrgb&crop=" alt=""></div>

      <div class="image"><img src="https://images.unsplash.com/photo-1485964793191-d70862c81ea8?dpr=1&auto=format&fit=crop&q=10&cs=tinysrgb&crop=" alt=""></div>

      <div class="image"><img src="https://images.unsplash.com/photo-1492485840844-0318fc72945e?dpr=1&auto=format&q=10&cs=tinysrgb&crop=" alt=""></div>
    </div>

    <div class="row two">

<div class="image"><img src="https://images.unsplash.com/photo-1485964793191-d70862c81ea8?dpr=1&auto=format&fit=crop&q=10&cs=tinysrgb&crop=" alt=""></div>
    
      <div class="image"><img src="https://images.unsplash.com/reserve/eNu5TtyHRnWf9627TvZN_IMG_7791.JPG?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=" alt=""></div>
      
      <div class="image"><img src="https://images.unsplash.com/photo-1492485840844-0318fc72945e?dpr=1&auto=format&q=10&cs=tinysrgb&crop=" alt=""></div>

<div class="image"><img src="https://images.unsplash.com/photo-1451928803901-7357a9e01215?dpr=1&auto=format&fit=crop&w=1280&h=720&q=10&cs=tinysrgb&crop=" alt=""></div>

    </div>
  </div>

  </section>
  <section id="contacto" class="contact">
    <div class="inner">
    <div class="container">  
      <form id="contact" action="" method="post">
        <h3>Quick Contact</h3>
        <h4>Contact us today, and get reply with in 24 hours!</h4>
        <fieldset>
          <input placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Your Email Address" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
        </fieldset>
      </form>
     
      
    </div>
    </div>
  </section>
  <section id="ubicacion" class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26646.56366770036!2d-70.657223!3d-33.401848!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c679234ec38f%3A0xfd8680a9c98a39f!2sPablo+Urz%C3%BAa+1526%2C+Independencia%2C+Regi%C3%B3n+Metropolitana%2C+Chile!5e0!3m2!1ses!2sus!4v1502298504787" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</div>
{{ partial "footer" . }}