{{ partial "head" . }}
<div class="app">
  <section class="hero">
    <div class="background-image" style="background-image: url('images/Zamu__gallery-29.jpg');"></div>
    <div class="inner">
    <h3 class="eyebrow">COMPROMISO</h3>
    <h1>Resolvemos toda urgencia publicitaria con gran calidad de impresión y logística de primer nivel</h1>
    <a href="#contacto" class="button cta">Contáctanos</a>
    </div>
  </section>
  <section id="servicios" class="explain">
    <div class="inner">
      <div class="center">
        <h3>ZAMU PUBLICIDAD</h3>
        <p>Contamos con stock de materiales permanentes, máquinas de impresión y personal altamente capacitado.</p>
      </div>
    </div>
  </section>

  <section id="gallery" class="gallery" >
    <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "autoPlay": false,"initialIndex": 2 }'>
    {{ partial "gallery" . }}
  </div>
  </section>

  <section id="contacto" class="contact">
    <div class="inner">
    <div class="container">  
      <form id="contact" name="contact" action="contact" data-netlify="true">

        <h3>Contacto rápido</h3>
        <h4>Conversemos, escríbenos y consigue respuesta en 24 horas</h4>
        <fieldset>
          <input placeholder="Nombre" type="text" tabindex="1" required >
        </fieldset>
        <fieldset>
          <input placeholder="Email" type="email" tabindex="2" name="email" required>
        </fieldset>
        <fieldset>
          <input placeholder="Teléfono" type="tel" name="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="Escribe tu mensaje...." tabindex="5" name="message" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando">Enviar</button>
        </fieldset>
      </form>
     
      
    </div>
    </div>
  </section>
  <section id="ubicacion" class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26646.56366770036!2d-70.657223!3d-33.401848!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c679234ec38f%3A0xfd8680a9c98a39f!2sPablo+Urz%C3%BAa+1526%2C+Independencia%2C+Regi%C3%B3n+Metropolitana%2C+Chile!5e0!3m2!1ses!2sus!4v1502298504787" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</div>
{{ partial "footer" . }}